@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

:root{
  --baby-powder: #fbfbf2ff;
  --platinum: #e5e6e4ff;
  --timberwolf: #cfd2cdff;
  --quick-silver: #a6a2a2ff;
  --rocket-metallic: #847577ff;
}

body{
  font-family: 'Sora', sans-serif;
  background-color: var(--timberwolf, lightgrey);
}

/* Adapted from https://www.w3schools.com/howto/howto_css_split_screen.asp */

/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  width: 50vw;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

.fixed{ 
  height: 37vh;
  overflow-y:scroll;
  word-break:break-all;
  background-color:#f8f8f8;
  padding: 1em;
  font-family: Consolas, monospace;
}


.fifty {
  height: 50vh;
}

.twenty {
  height: 20vh;
}

.innerdiv{
  padding:2em;
}